<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join</title>
    <link rel="shortcut icon" href="../assets/icons/join-logo-white.svg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/card.css" />
    <link rel="stylesheet" href="../styles/standart.css" />
</head>

<body>
    <div class="card-main-container">
        <div class="card-main-container-content">
            <div class="labels-board-card-label">
                <div class="card-label"><span>User Story</span></div>
            </div>
            <div class="card-headline">
                <h2>Kochwelt Page &amp; Recipe Recommender</h2>
                <div class="card-under-headline"><span>Build start page with recipe recommendation...</span></div>
            </div>
            <div class="status-bar-and-task-information">
                <div class="progress-bar-wrapper">
                    <div class="progress-bar" role="progressbar" style="width: 50%"></div>
                </div>
                <span>1/2 Subtask</span>
            </div>
            <div class="user-and-card-mover-container">
                <div class="user-main">
                    <div>
                        <div class="user1">AM</div>
                    </div>
                    <div class="user-container">
                        <div class="user2">EM</div>
                    </div>
                    <div class="user-container">
                        <div class="user3">MB</div>
                    </div>
                </div>
                <div class="move-card-button">
                    <img src="../assets/icons/medium.svg" alt="Medium" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>