<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Edit Contact</title>
    <link rel="shortcut icon" href="../assets/icons/join-logo-white.svg" type="image/x-icon">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/standart.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/edit-contact-style.css'>
    <script src="../scripts/standart.js" defer></script>
</head>

<body onload="onlyLoadIfUserOrGuest()">
</body>

</html>