<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join</title>
    <link rel="icon" href="../assets/icons/join-logo-white.svg" />
    <link rel="stylesheet" href="../styles/nav-bar.css" />
    <link rel="stylesheet" href="../styles/standart.css">
</head>

<body>
    <div class="nav-bar-main-container">
        <div class="nav-bar-wrapper">
            <div class="join-logo-nav-bar">
                <a href="../pages/summary.html"><img src="../assets/icons/join-logo-white.svg" alt=""></a>
            </div>
            <div class="nav-bar">
                <a href="../pages/summary.html" id="nav-bar-container-summary" class="nav-bar-container current-site">
                    <div>
                        <img id="nav-bar-img-1" src="../assets/icons/summary.svg" alt="" />
                        <span>Summary</span>
                    </div>
                </a>
                <a href="../pages/board.html" id="nav-bar-container-board" class="nav-bar-container">
                    <div>
                        <img id="nav-bar-img-2" src="../assets/icons/board.svg" alt="" />
                        <span>Board</span>
                    </div>
                </a>
                <a href="../pages/add-task.html" id="nav-bar-container-add-to-task" class="nav-bar-container">
                    <div>
                        <img id="nav-bar-img-3" src="../assets/icons/add-to-task.svg" alt="" />
                        <span>Add Task</span>
                    </div>
                </a>
                <a href="../pages/contactlist.html" id="nav-bar-container-contacts" class="nav-bar-container">
                    <div>
                        <img id="nav-bar-img-4" src="../assets/icons/contacts.svg" alt="" />
                        <span>Contacts</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="legal-container-nav-bar">
            <a href="../pages/privacy-policy.html">Privacy Policy</a>
            <a href="../pages/impressum.html">Legal notice</a>
        </div>
    </div>
</body>

</html>