<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Task Added Popup</title>
    <link rel="shortcut icon" href="../assets/icons/join-logo-white.svg" type="image/x-icon">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/big-popup.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/standart.css'>
</head>

<body>
    <div class="big-popup-container">
        <div class="big-popup">
            <span>Task added to board</span>
            <img src="../assets/icons/board-white.svg" alt="">
        </div>
    </div>
</body>

</html>